@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/game.css" />

<h2>TypeScript Game</h2>
<p>Learning how to create a browser game using canvas html element and TypeScript programming language.</p>
<div class="canvas"></div>

<script src="~/js/App/Game.js"></script>
<script src="~/js/Models/Object2d.js"></script>
<script src="~/js/Models/Vehicles/Vehicle.js"></script>
<script>
    Game.Start();
</script>


