@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div class="">
    <p>Some text</p>
    <p class="shit"></p>
</div>

<script>
    var superClass = new SuperClass();
    superClass.Method2();
</script>