@{
    ViewData["Title"] = "Home Page";
}

<h2>Home page header</h2>
<p>Home page paragraph</p>
<p class="shit"></p>
<script src="~/js/app.js"></script>
<script>
    var a = new SuperClass();
    a.Method2();
</script>